ultralytics==8.0.26
numpy<2
matplotlib
opencv-python

Markdown 
MarkupSafe
PyYAML
absl-py
asttokens
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
decorator
exceptiongroup
executing
filelock
flask
fonttools
fsspec
grpcio
idna
intel-openmp
ipython
itsdangerous
jedi
jinja2
kiwisolver
matplotlib
matplotlib-inline
mkl
mpmath
networkx
opencv-python
packaging
pandas
parso
pillow
pip
prompt-toolkit
protobuf
psutil
pure-eval
pygments
pyparsing
python-dateutil
pytz
requests
scipy
seaborn
sentry-sdk
setuptools
six
stack-data
sympy
tbb
tensorboard
tensorboard-data-server
thop
torch
torchvision
tqdm
traitlets
typing-extensions
tzdata
urllib3
wcwidth
werkzeug
wheel
